
.header-visitor-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 50;
    animation: shrink-header linear both;
    animation-timeline: scroll(root);
    animation-range: 100px 300px
}

@keyframes shrink-header {
    to {
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
        background-color: rgba(255, 255, 255, 0.596);
    }
}

.header-visitor-container #button-personalized.primary {
    padding: 20px;
    font-size: .9rem;
    font-weight: 100;
}

#header-visitor .log-out #button-personalized {
    width: fit-content;
    color: var(--color-error);
    font-weight: 700;
    border: solid 1px var(--color-error-muted);
    background-color: transparent;
    box-shadow: none;
    &:hover {
        border-color: red;
        background-color: var(--color-error-muted-secondary);
    }
}

.button-confirm-modal-logout {
    background-color: var(--color-primary);
}

.button-modal-logout {
    border-radius: 100px;
    cursor: pointer;
}

header button {
    border-radius: 100px;
    cursor: pointer;
}

