.aside-admin-dashboard {
    box-shadow: 0px 1px 5px #ccc;
    padding: 15px;
    padding-top: 100px;
}

.dashboard-admin-cards .mid-article-cards-admin .small-card-admin {
    height: 50%;
}

.dashboard-admin-cards article {
    height: 100%;
    width: 100%;
}

.dashboard-admin-cards article:first-child,
.dashboard-admin-cards article:last-child,
.dashboard-admin-cards .mid-article-cards-admin .small-card-admin {
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 15px;
    padding: 20px;
}

.card-next-turn-admin {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-secondary-transparent);
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: var(--color-terciary-transparent);
    }
}

.card-next-turn-admin p {
    opacity: .7;
}

.grid-quick-access {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.chip-modality {
    background-color: var(--color-terciary-transparent);
    border-radius: 50px;
    padding: 2px 10px;
    color: var(--color-primary);
    border: solid 1px var(--color-primary-transparent);
}

.card-info-detail {
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 15px;
    padding: 30px;
    width: 40vw;
}

#calendar-and-manual-block #button-block {
    width: 100%;
    background-color: transparent;
    margin-top: 5%;
    border: solid 1px var(--color-primary-transparent);
    color: var(--color-primary);
    cursor: pointer;

    &:active {
        transform: scale(.95);
    }

    &:hover {
        background-color: var(--color-secondary-transparent);
        border-color: var(--color-primary);
    }
}

.legends-container {
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 15px;
    padding: 20px;
}

#calendar-shadcn-accesorie {
    box-shadow: 0px 0px 5px #ccc;
}


.history-reservations-container {
    border-radius: 15px;
}

.header-titles-reservations li {
    font-weight: 900;
    font-size: .9rem;
}

.current-reservation-history {
    transition: .2s;

    &:hover {
        background-color: #eee;
    }
}


.eye-container {
    transition: .2s;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: var(--color-primary-transparent);
        color: var(--color-primary-hover);
    }

    &:active {
        transform: scale(.95);
    }
}



.shadow-container {
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
}

.input-search-user {
    outline: none;
    box-shadow: 0px 0px 2px #ccc;
    transition: .2s;
    font-size: .8rem;

    &:focus {
        box-shadow: 0px 0px 10px var(--color-primary-transparent);
        border-color: var(--color-primary);
    }
}

.card-current-user {
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: var(--color-secondary-transparent);
    }
}


.card-current-user .avatar,
.card-current-user .name-current-user {
    transition: .2s;
}

.card-current-user:hover .avatar {
    border-color: var(--color-primary-transparent);
}

.card-current-user:hover .name-current-user {
    color: var(--color-primary);
}

.user-selected {
    background-color: var(--color-secondary-transparent);
}

.user-selected .avatar {
    border-color: var(--color-primary-transparent);
}

.user-selected .name-current-user {
    color: var(--color-primary);
}

.input-location {
    padding: 7px 15px;
    outline: none;
    border-radius: 10px;
    transition: .2s;
    border: solid 1px #ddd;
    font-size: .8rem;
    width: 100%;
    &:focus {
        box-shadow: 0px 0px 15px var(--color-primary-transparent);
        border-color: var(--color-primary);
    }
}

.section-disabled {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
}