.rbc-event {
    backdrop-filter: blur(20px);
    outline: none;
    background-color: var(--color-terciary-transparent);
    border-radius: 5px;
    color: black;
}

.rbc-header {
    font-weight: 100;
}

.rbc-toolbar-label {
    font-weight: 900;
    font-size: .9rem;
    opacity: .7;
    text-transform: uppercase;
}

.rbc-btn-group {
    border: solid 1px #ddd;
    border-radius: 15px;
}

.rbc-btn-group button {
    background-color: transparent;
    font-size: .8rem;
    border: none;

    &:hover {
        background-color: var(--color-primary-transparent);
    }
}

.rbc-btn-group button:active {
    background-color: var(--color-primary-transparent) !important;
    color: var(--color-primary-hover) !important;
    box-shadow: none;
}

.rbc-btn-group button:focus {
    background-color: transparent;
}

.rbc-btn-group button:first-child,
.rbc-btn-group button:last-child {
    border-radius: 15px;
}

.rbc-active {
    background-color: var(--color-primary) !important;
    color: white !important;
    font-weight: 900;
}

.rbc-toolbar {
    margin-bottom: 20px;
}

.rbc-toolbar-label {
    font-weight: 900;
    font-size: .9rem;
    opacity: .7;
    text-transform: uppercase;
}

.rbc-btn-group {
    border: solid 1px #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.rbc-btn-group button {
    background-color: transparent;
    font-size: .8rem;
    border: none;
    padding: 6px 12px;
    transition: .2s;
    font-weight: 100;
}

.rbc-btn-group button:hover {
    background-color: var(--color-primary-transparent);
}

.rbc-btn-group button:active {
    background-color: var(--color-primary-transparent) !important;
    color: var(--color-primary-hover) !important;
    box-shadow: none;
}

.rbc-btn-group button:first-child,
.rbc-btn-group button:last-child {
    border-radius: 15px;
}

.rbc-active {
    background-color: var(--color-primary) !important;
    color: white !important;
    cursor: auto !important;
    box-shadow: none !important;
}

button.rbc-active:active {
    color: white !important;
    background-color: var(--color-primary) !important;
}



.rbc-header {
    font-weight: 100;
    font-size: .75rem;
    opacity: .6;
    padding: 10px 0;
    border-bottom: solid 1px #eee;
}

.rbc-time-view {
    border-radius: 15px;
    overflow: hidden;
}

.rbc-time-gutter {
    font-size: .75rem;
    opacity: .6;
}

.rbc-timeslot-group {
    border-bottom: solid 1px #ccc;
}

.rbc-month-view {
    border-radius: 15px;
    overflow: hidden;
}

.rbc-month-row {
    border-top: solid 1px #eee;
}

.rbc-date-cell {
    font-size: .75rem;
    opacity: .6;
    padding: 6px;
}

.rbc-date-cell>a {
    text-decoration: none;
    color: inherit;
}

.rbc-today {
    background-color: var(--color-secondary-transparent);
}

.rbc-off-range {
    opacity: .3;
}

.rbc-event {
    backdrop-filter: blur(20px);
    background-color: var(--color-terciary-transparent);
    border-radius: 5px;
    padding: 4px 6px;
    border-color: var(--color-primary-transparent) !important;
    color: var(--color-primary-hover);
    outline: none;
    box-shadow: 0px 0px 5px #ccc;
    transition: .2s;
    font-size: .8rem;
}

.rbc-event:hover {
    background-color: var(--color-primary-transparent);
}

.rbc-event-content {
    font-size: .75rem;
    font-weight: 500;
}

.rbc-selected {
    background-color: var(--color-terciary-transparent) !important;
}

.rbc-slot-selection {
    background-color: var(--color-primary-transparent);
    border-radius: 5px;
}
