.card-modalitie-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: .3s;
    max-width: 30%;
    width: 30%;
    min-height: 30%;

    &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
        transform: translateY(-10px);
    }
}

.card-modalitie-container img {
    width: 100%;
    height: 20vw;
    border-radius: 10px;
    clip-path: circle(98.3% at 5% 10%);
}

.card-modalitie-container div {
    border-radius: 10px;
}