.choose-container {
    border-radius: 20px;
}

#zenda {
  padding-top: 150px;
}

.choose-container article > span {
    position: relative;
    width: 650px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.choose-container article > span::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.choose-container article > span img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.choose-container .title {
    backdrop-filter: blur(40px);
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-choose-container {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: white;
    padding: 50px;    
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding-top: 30px;
}

