@media (max-width: 1024px) {
    .choose-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choose-card-container {
        flex-direction: column;
        align-items: center;
        padding: 10px   ;
    }
    .choose-card-container h3,
    .choose-card-container p {
        text-align: center;
    }

}

@media (min-width: 1024px) and (max-height: 1366px) {
    .choose-card-container {
        padding: 20px;
    }
}