
#zenda {
    background-color: var(--color-secondary-background);
}

#zenda * {
    border-radius: 15px;
}

.choose-container article > span {
    position: relative;
    width: 650px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.choose-container article > span::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}

.choose-container article > span img {
    object-fit: cover;
}

.choose-container .title {
    backdrop-filter: blur(40px);
    text-align: center;
}

.card-choose-container {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--color-primary-background);
    padding: 50px;    
    color: #ccc;
    transition: .2s;
    border: solid 1px var(--color-primary-transparent);
    padding-top: 30px;
    &:hover {
        box-shadow: 0px 0px 250px var(--color-primary-transparent);
        transform: translateY(-10px);
        border-color: var(--color-primary);
    }
}


#zenda img {
    height: 100%;
}

#zenda .choose-image {
    z-index: 1;
}